header{
    display: flex;
    flex-direction: row;
    background-color: black;
    height: 60px;
    color: white;
}

.abrir {
	font-size: 18px;
}

.despegable{
    display: flex;
    flex-direction: column;
    cursor: pointer;
 	padding: 16px 5px;
 	overflow: auto;
}

.links{
    text-align: left;
    list-style: none;
    display: none;
    background-color: black;
    position: absolute;
}

.despegable:hover .links{
    display: block;
}

.links .header_item:hover {
	color: #FFFFFF;
  	background-color: #00A4BD;
}

.header_item{
    color: white;
    text-decoration: none;
    padding: 5px;
    margin: 25px 30px;
    display: block;
    overflow: auto;
}

body {
	margin: 0;
	padding: 0;
	background-color: rgba(5, 5, 5, 0.568);
}

input[type="text"],
		input[type="password"] {
			padding: 10px;
}

.contenedor {
	width: 450px;
  	background: #000;
  	padding: 40px;
  	margin: 40px 400px;
  	margin-top: 40px;
  	border-radius: 4px;
  	font-family: 'calibri';
  	color: white;
  	box-shadow: 7px 13px 37px #000;
}

h2 {
 	color: white;
 	text-align: center;
 	margin-left:30px;
}

p, a {
	color: rgb(255, 255, 255);
	text-align: center;
}

label{
  	display: block;
  	margin: 0%;
  	padding: 0%;
  	text-align: center;
  	margin-bottom: 4%;
}

input {
  	padding: 4px;
  	text-align: center;
	color: rgba(47, 47, 202, 0.973);
  	width: 100%;
  	border: none;
  	border-bottom: 1px solid rgb(11, 84, 194);
  	background-color: #24303c;
  	margin-bottom: 2%;
}

.contenedor .campo {
	color: white;
	font-family: 'calibri';
  	font-size: 18px;
}

.contenedor .boton {
  	padding: 7px;
  	color: rgba(255, 255, 255, 0.932);
  	background-color: rgb(3, 3, 3);
  	margin: 13px;
  	font-family: 'calibri';
  	font-size: 18px;
  	border: 1px solid rgb(13, 34, 228);
	border-radius: 4px;
	width: 110px; /* Para que no se rompa en dos líneas, y lo translade tal cual. */
  	margin-left: 50%;
  	transform: translateX(-50%);

}

.boton:hover {
  	cursor: pointer;
  	background: rgb(22, 22, 255);
  	color: rgb(255, 255, 255);
}


